export const environment = {
  production: true,
  authConfig: {
    issuer: "<oauth authority address here>",
    clientId: "js",
    redirectUri: "https://localhost:5003/mydata/welcome",
    responseType: "code",
    scope: "openid profile api1",
    postLogoutRedirectUri: "https://localhost:5003/mydata",
    sessionChecksEnabled: true,
    oidc: true,
    showDebugInformation: true
  }
};
